h1 {
  line-height: 1.35 !important;
}

span {
  background: rgb(177, 108, 234);
  background: linear-gradient(90deg,
      rgba(177, 108, 234, 1) 0%,
      rgba(255, 94, 105, 1) 34%,
      rgba(255, 138, 86, 1) 66%,
      rgba(255, 168, 75, 1) 100%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.gradient {
  background: rgb(177, 108, 234);
  background: linear-gradient(90deg,
      rgba(177, 108, 234, 1) 0%,
      rgba(255, 94, 105, 1) 34%,
      rgba(255, 138, 86, 1) 66%,
      rgba(255, 168, 75, 1) 100%);
}
