.card2 {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 80rem;
  height: max-content;
  background-color: #1f1f1f;
  border-radius: 10px;
  font-size: 2.5rem;
  position: absolute;
  bottom: 10%;
}

.card2-header {
  height: 3.5rem;
  width: 100%;
  padding-top: 4rem;
  display: flex;
  flex-direction: row;
  gap: 5%;
  align-items: end;
  padding-left: 8%;
}

.card2-header-red {
  background-color: #ff5f5a;
}

.card2-header-yellow {
  background-color: #ffbe2e;
}

.card2-header-green {
  background-color: #2aca44;
}

.card2-header-red,
.card2-header-yellow,
.card2-header-green {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.card2-aside {
  width: 40px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  gap: 1px;
}

.card2-aside span {
  color: #666666;
}

.card2-content {
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 7px 0;
}

.card2-flex {
  display: flex;
}

/* *************************************************************************************************** */
/* !!!                                       RESPONSIVE DESIGN                                    !!! */
/* ************************************************************************************************* */

@media screen and (max-height: 599px) {
  .card2 {
    display: none;
  }
}

@media screen and (max-width: 899px) {
  .card2 {
    width: 95%;
  }
}
