<div class="card2">
  <div class="card2-header">
    <div class="card2-header-red"></div>
    <div class="card2-header-yellow"></div>
    <div class="card2-header-green"></div>
  </div>
  <div class="card2-flex">
    <div class="card2-aside">
      <span>1</span><span>2</span><span>3</span><span>4</span><span>5</span><span>6</span>
    </div>
    <div class="card2-content">
      <span style="color: #dddddd">{{ '{' }}</span>
      <span style="color: #66d9ef; font-family: 'Comic Sans MS', cursive">&emsp;"name"<span
          style="color: #dddddd">:&ensp;</span><span style="color: #cfcfc2">"Jairo",</span></span>
      <span style="color: #66d9ef; font-family: 'Comic Sans MS', cursive">&emsp;"nick"<span
          style="color: #dddddd">:&ensp;</span><span style="color: #cfcfc2">"CodeJairo",</span></span>
      <span style="color: #66d9ef; font-family: 'Comic Sans MS', cursive">&emsp;"age"<span
          style="color: #dddddd">:&ensp;</span><span style="color: #ae81ff">20</span><span
          style="color: #cfcfc2">,</span></span>
      <span style="color: #66d9ef; font-family: 'Comic Sans MS', cursive">&emsp;"city"<span
          style="color: #dddddd">:&ensp;</span><span style="color: #cfcfc2">"Medellin"</span></span>
      <span style="color: #dddddd">{{ '}' }}</span>
    </div>
  </div>
</div>
