@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@tailwind utilities;

@font-face {
  font-family: "Satoshi";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("/fonts/Satoshi-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Satoshi-Bold.woff2") format("woff2");
}

body {
  font-family: "Satoshi", monospace;
}

html {
  scroll-behavior: smooth;
}
