---
import SecondaryHeader from "../secondary-header.astro";
import Card from "../card.astro";
---

<section
  id="proyectos"
  class="w-full h-screen max-md:h-[200vh] bg-whitePrimary dark:bg-blackPrimary flex justify-center items-center max-sm:items-start"
>
  <div
    class="w-[80%] max-md:h-full flex max-md:flex-col justify-between max-md:justify-start items-center max-md:gap-8"
  >
    <Card
      img="gato.png"
      alt="Imagen de un gato"
      title="Vanishat"
      techs={[
        { name: "Angular", url: "https://angular.dev/" },
        { name: "Nest.js", url: "https://nestjs.com/" },
        { name: "MongoDB", url: "https://www.mongodb.com/" },
      ]}
    />
    <Card
      img="gato.png"
      alt="Imagen de un gato"
      title="Vanishat"
      techs={[
        { name: "React", url: "https://reactjs.org/" },
        { name: "Express.js", url: "https://expressjs.com/" },
        { name: "PostgreSQL", url: "https://www.postgresql.org/" },
      ]}
    />
    <Card
      img="gato.png"
      alt="Imagen de un gato"
      title="Vanishat"
      techs={[
        { name: "Vue.js", url: "https://vuejs.org/" },
        { name: "Adonis.js", url: "https://adonisjs.com/" },
        { name: "MySQL", url: "https://www.mysql.com/" },
      ]}
    />
  </div>
</section>
