<section
  class="text-blackPrimary dark:text-whiteSecondary w-full h-screen bg-whitePrimary dark:bg-blackPrimary flex max-sm:items-end max-sm:pb-14 justify-center items-center max-md:pt-20"
>
  <div
    id="container"
    class="flex flex-row max-lg:flex-col-reverse gap-5 w-[80%] my-auto"
  >
    <!-- texto -->
    <div id="texto" class="py-[10%]">
      <h1
        class="font-satoshiBold text-nowrap text-2xl max-[320px]:text-2xl md:text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl"
      >
        <span>Hola, Soy Jairo,</span><br />
        Desarrollador FullStack,<br />
        Ingeniero de Software.
      </h1>
      <h2 class="py-5">
        Desarrollador Full Stack y estudiante de Ingeniería en Software, amante
        de JavaScript y la creación de aplicaciones web robustas.
      </h2>
      <div class="flex flex-row gap-3 text-nowrap">
        <a
          class="py-3 px-5 rounded-full gradient hover:scale-105 transition-all"
          rel="noopener noreferrer"
          href="https://github.com/CodeJairo/Portfolio">Codigo Fuente</a
        >
        <a
          class="outline outline-[1.5px] outline-black dark:outline-whiteSecondary py-3 px-5 rounded-full hover:scale-105 hover:outline-[2.5px] transition-all"
          rel="noopener noreferrer"
          href="mailto:jairoehr@gmail.com">Contactar</a
        >
      </div>
    </div>

    <!-- imagen -->
    <div class="flex justify-center items-center">
      <div
        class="rounded-md overflow-hidden xl:w-[500px] xl:h-[500px] flex justify-center items-center max-sm:w-[200px] max-sm:h-[200px] max-[320px]:hidden max-lg:w-[425px] max-lg:h-[425px] phone"
      >
        <img
          class="w-full h-full object-cover"
          src="/img/gato.png"
          alt="Foto de Perfil - Jairo Herrera"
        />
      </div>
    </div>
  </div>
</section>

<style>
  h1 {
    line-height: 1.35 !important;
  }

  span {
    background: rgb(177, 108, 234);
    background: linear-gradient(
      90deg,
      rgba(177, 108, 234, 1) 0%,
      rgba(255, 94, 105, 1) 34%,
      rgba(255, 138, 86, 1) 66%,
      rgba(255, 168, 75, 1) 100%
    );
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }

  .gradient {
    background: rgb(177, 108, 234);
    background: linear-gradient(
      90deg,
      rgba(177, 108, 234, 1) 0%,
      rgba(255, 94, 105, 1) 34%,
      rgba(255, 138, 86, 1) 66%,
      rgba(255, 168, 75, 1) 100%
    );
  }

  @media (max-height: 568px) {
    .phone {
      width: 200px;
      height: 200px;
    }

    #container {
      flex-direction: row;
    }

    section {
      padding-top: 0;
    }
  }

  @media (max-height: 568px) {
    #texto {
      padding-top: 2rem;
      --tw-scale-x: 0.75;
      --tw-scale-y: 0.75;
      transform: translate(var(--tw-translate-x), var(--tw-translate-y))
        rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
        scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
    section {
      padding-top: 0;
    }
  }

  @media (max-height: 330px) {
    .phone {
      width: 150px;
      height: 150px;
    }

    #texto {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }

    #texto h2 {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }

    #texto a {
      padding-top: 0.4rem;
      padding-bottom: 0.4rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
</style>
