---
import Toggle from "./toggle.astro";
---

<div class="absolute w-full py-5 px-[10%] flex flex-row justify-between">
  <div class="flex flex-row gap-5 text-nowrap">
    <a
      href="#proyectos"
      class="hover:scale-110 hover:text-black dark:text-whitePrimary transition-all"
      >Proyectos</a
    >
    <a
      href="#sobre-mi"
      class="hover:scale-110 hover:text-black dark:text-whitePrimary transition-all"
      >Sobre mí</a
    >
    <a
      href="#contacto"
      class="hover:scale-110 hover:text-black dark:text-whitePrimary transition-all"
      >Contacto</a
    >
  </div>
  <div>
    <div>
      <Toggle />
    </div>
  </div>
</div>
