---
import ThemeToggle from "./theme-toggle.astro";
---

<header
  class="fixed top-0 left-0 w-full z-50 px-6 md:px-[10%] py-4 flex flex-wrap justify-between items-center backdrop-blur-md bg-white/60 dark:bg-black/30 dark:border-b dark:border-white/10 shadow-sm"
>
  <div class="w-full flex justify-between items-center flex-wrap gap-4">
    <!-- Marca / Logo -->
    <div class="text-lg font-bold tracking-tight text-black dark:text-white">
      <a
        href="#inicio"
        class="text-lg font-bold hover:text-blue-600 dark:hover:text-violet-500 transition"
      >
        CodeJairo
      </a>
    </div>

    <!-- Navegación -->
    <nav
      class="flex flex-row gap-8 text-sm md:text-base font-medium text-black dark:text-white"
    >
      <a
        href="#proyectos"
        class="transition-colors duration-300 hover:text-blue-600 dark:hover:text-violet-500"
      >
        Proyectos
      </a>
      <a
        href="#sobre-mi"
        class="transition-colors duration-300 hover:text-blue-600 dark:hover:text-violet-500"
      >
        Sobre mí
      </a>
    </nav>

    <!-- Toggle -->
    <div class="flex items-center justify-center">
      <ThemeToggle />
    </div>
  </div>
</header>
