---
import ThemeToggle from "./theme-toggle.astro";
---

<header
  class="absolute top-0 left-0 w-full z-50 px-6 md:px-[10%] py-4 flex flex-wrap justify-between items-center backdrop-blur-md bg-white/60 dark:bg-black/30 dark:border-b dark:border-white/10 shadow-sm"
>
  <!-- Contenedor flexible para navegación y toggle -->
  <div class="w-full flex justify-between items-center flex-wrap gap-4">
    <!-- Navegación -->
    <nav
      class="flex flex-row gap-8 text-sm md:text-base font-medium text-black dark:text-white"
    >
      <a
        href="#proyectos"
        class="relative group transition-colors duration-300 hover:text-blue-600 dark:hover:text-violet-500"
      >
        Proyectos
        <span
          class="absolute left-0 -bottom-1 w-0 h-[2px] bg-primary transition-all duration-300 group-hover:w-full"
        ></span>
      </a>
      <a
        href="#sobre-mi"
        class="relative group transition-colors duration-300 hover:text-blue-600 dark:hover:text-violet-500"
      >
        Sobre mí
        <span
          class="absolute left-0 -bottom-1 w-0 h-[2px] bg-primary transition-all duration-300 group-hover:w-full"
        ></span>
      </a>
      <a
        href="#contacto"
        class="relative group transition-colors duration-300 hover:text-blue-600 dark:hover:text-violet-500"
      >
        Contacto
        <span
          class="absolute left-0 -bottom-1 w-0 h-[2px] bg-primary transition-all duration-300 group-hover:w-full"
        ></span>
      </a>
    </nav>

    <!-- Toggle -->
    <div class="flex items-center justify-center">
      <ThemeToggle />
    </div>
  </div>
</header>
