---
import ThemeToggle from "./theme-toggle.astro";
---

<header
  class="fixed top-0 left-0 w-full z-50 px-4 md:px-[10%] py-4 flex flex-wrap justify-between items-center backdrop-blur-md bg-white/60 dark:bg-black/30 dark:border-b dark:border-white/10 shadow-sm"
>
  <div
    class="w-full flex justify-between items-center flex-nowrap md:flex-wrap gap-2 md:gap-4"
  >
    <!-- Marca / Logo -->
    <div
      class="text-lg font-bold tracking-tight text-black dark:text-white shrink-0"
    >
      <a
        href="#inicio"
        class="text-lg font-bold hover:text-blue-600 dark:hover:text-violet-500 transition"
      >
        CodeJairo
      </a>
    </div>

    <!-- Navegación -->
    <nav
      class="flex flex-row gap-4 sm:gap-8 text-sm md:text-base font-medium text-black dark:text-white items-center"
    >
      <a
        href="#proyectos"
        class="relative hover:text-blue-600 dark:hover:text-violet-500 transition-colors duration-300 after:content-[''] after:absolute after:w-full after:h-[2px] after:bg-current after:left-0 after:bottom-[-2px] after:scale-x-0 hover:after:scale-x-100 after:transition-transform after:duration-300 after:origin-right hover:after:origin-left"
      >
        Proyectos
      </a>
      <a
        href="#sobre-mi"
        class="relative hover:text-blue-600 dark:hover:text-violet-500 transition-colors duration-300 after:content-[''] after:absolute after:w-full after:h-[2px] after:bg-current after:left-0 after:bottom-[-2px] after:scale-x-0 hover:after:scale-x-100 after:transition-transform after:duration-300 after:origin-right hover:after:origin-left"
      >
        Sobre mí
      </a>
    </nav>

    <!-- Toggle -->
    <div class="flex items-center justify-center">
      <ThemeToggle />
    </div>
  </div>
</header>
