<div class="hidden">
  <div
    class="fixed left-1/2 -translate-x-1/2 top-4 px-5 py-2 flex flex-row gap-4 rounded-full text-nowrap text-black dark:text-whiteSecondary border border-black dark:border-whiteSecondary backdrop-blur-md"
  >
    <a href="#" class="hover:scale-110 transition">Proyectos</a>
    <a href="#" class="hover:scale-110 transition">Sobre mi</a>
    <a href="#" class="hover:scale-110 transition">Contacto</a>
  </div>
</div>
